In [25]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
# Cargo el dataset que ya tenía con los datos de la satisfacción y de los ingresos y el dataset que contiene la capacidad para hacer frente a necesidades inesperadas

df_nec = pd.read_csv("../data/raw/necesidades_inesperadas.csv")

In [27]:
df_sat.head()

,isced11,genero,edad,geo,periodo,satisfaccion_general,edad_ingresos,media_ingresos,mediana_ingresos,precio_vivienda,IAPC
4,ED0-2,F,Y16-19,AT,2021,8.2,Y16-24,28228.0,27305.0,198.25,111.46
5,ED0-2,F,Y16-19,AT,2022,8.1,Y16-24,28058.0,26070.0,221.28,121.07
6,ED0-2,F,Y16-19,AT,2023,7.9,Y16-24,32885.0,30700.0,212.27,130.40
7,ED0-2,F,Y16-19,AT,2024,7.7,Y16-24,33804.0,31026.0,209.15,134.21
10,ED0-2,F,Y16-19,BE,2021,7.5,Y16-24,25223.0,24390.0,136.53,111.71

In [28]:
df_nec.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:ILC_MDES04_R(1.0),Inability to face unexpected financial expense...,A,Annual,PC,Percentage,AL,Albania,2021,NaN,40.4,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:ILC_MDES04_R(1.0),Inability to face unexpected financial expense...,A,Annual,PC,Percentage,AT,Austria,2021,NaN,18.6,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:ILC_MDES04_R(1.0),Inability to face unexpected financial expense...,A,Annual,PC,Percentage,AT,Austria,2022,NaN,19.0,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:ILC_MDES04_R(1.0),Inability to face unexpected financial expense...,A,Annual,PC,Percentage,AT,Austria,2023,NaN,22.8,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:ILC_MDES04_R(1.0),Inability to face unexpected financial expense...,A,Annual,PC,Percentage,AT,Austria,2024,NaN,20.9,NaN,NaN,NaN,NaN,NaN

Voy a incorporar los datos a mi dataset, directamente con un bucle similar al de los casos anteriores.

In [29]:
# Primero creo la columna "afrontar_imprevistos"
df_sat["no_afrontar_imprevistos(%)"] = None

In [30]:
for i in df_sat["geo"].unique(): # Recorro todos los valores de "geo" y defino las condiciones necesarias para cada df
    cond_1 = df_sat["geo"] == i
    cond_1_1 = df_nec["geo"] == i
    for j in df_sat["periodo"].unique(): # Recorro todos los años
        cond_2 = df_sat["periodo"] == j
        cond_2_2 = df_nec["TIME_PERIOD"] == j
        # Con las condiciones definidas, obtengo el porcentaje de personas que no puede hacer frente a las necesidades inesperadas
        nec = df_nec.loc[cond_1_1 & cond_2_2, "OBS_VALUE"]
        if len(nec) > 0: # Como "nec" es una serie, cuando tengo registros, me quedo con el primer (y único) valor
            df_sat.loc[cond_1 & cond_2, "no_afrontar_imprevistos(%)"] = nec.iloc[0]

In [31]:
df_sat

,isced11,genero,edad,geo,periodo,satisfaccion_general,edad_ingresos,media_ingresos,mediana_ingresos,precio_vivienda,IAPC,no_afrontar_imprevistos(%)
4,ED0-2,F,Y16-19,AT,2021,8.2,Y16-24,28228.0,27305.0,198.25,111.46,18.6
5,ED0-2,F,Y16-19,AT,2022,8.1,Y16-24,28058.0,26070.0,221.28,121.07,19.0
6,ED0-2,F,Y16-19,AT,2023,7.9,Y16-24,32885.0,30700.0,212.27,130.40,22.8
7,ED0-2,F,Y16-19,AT,2024,7.7,Y16-24,33804.0,31026.0,209.15,134.21,20.9
10,ED0-2,F,Y16-19,BE,2021,7.5,Y16-24,25223.0,24390.0,136.53,111.71,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...
32126,TOTAL,T,Y_GE75,SK,2024,6.4,Y_GE75,10654.0,10494.0,200.62,143.17,28.2
32129,TOTAL,T,Y_GE75,TR,2021,5.5,Y_GE75,4132.0,2963.0,412.75,215.24,33.4
32130,TOTAL,T,Y_GE75,TR,2022,5.6,Y_GE75,4349.0,2805.0,1046.23,370.82,31.1
32131,TOTAL,T,Y_GE75,TR,2023,5.5,Y_GE75,3572.0,2615.0,2066.46,570.94,31.8
32132,TOTAL,T,Y_GE75,TR,2024,5.6,Y_GE75,4380.0,3195.0,2915.86,905.21,26.8

In [32]:
# Los grabo en un csv

df_sat.to_csv("../data/processed/satisfaccion_ingresos_precioviv_IAPC_necesidades_EU.csv")